<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.carlos.appsgp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".UserActivity"
            android:parentActivityName=".InicioActivity" />
        <activity
            android:name=".TareasActivity"
            android:parentActivityName=".InicioActivity" />
        <activity
            android:name=".DetalleProyectoActivity"
            android:parentActivityName=".InicioActivity" />
        <activity
            android:name=".AgregarUserActivity"
            android:parentActivityName=".UserActivity" />
        <activity
            android:name=".EliminarUserActivity"
            android:parentActivityName=".UserActivity" />
        <activity
            android:name=".EditarUserActivity"
            android:parentActivityName=".UserActivity" />
        <activity
            android:name=".EditarTareasActivity"
            android:parentActivityName=".TareasActivity" />
        <activity
            android:name=".AgregarTareasActivity"
            android:parentActivityName=".TareasActivity" />
        <activity
            android:name=".EliminarTareaActivity"
            android:parentActivityName=".TareasActivity" />
        <activity
            android:name=".TareaUsuarioRolActivity"
            android:parentActivityName=".DetalleProyectoActivity" />
        <activity android:name=".RolesActivity" />
        <activity android:name=".AgregarRolesActivity" />
        <activity android:name=".EliminarRolActivity" />
        <activity android:name=".GruposActivity" />
        <activity android:name=".AgregarGruposActivity" />
        <activity android:name=".EditarGruposActivity" />
        <activity android:name=".EliminarGrupoActivity" />
        <activity android:name=".UserHistoryActivity" />
        <activity android:name=".CrearUserHistoryActivity" />
        <activity android:name=".EditarUserHistoryActivity" />
        <activity android:name=".SprintsActivity" />
        <activity android:name=".CrearSprintsActivity" />
        <activity android:name=".EditarSprintsActivity"></activity>
    </application>

</manifest>